/* CSS custom properties */
:root {
    /* Colors */
    --blue: #004EE0;
    --darkblue: #042E7B;
    --lightblue: #1883FF;
    --background: #e7f4ff8e;
    --body: #f5fbff;
    --green: #079844;
    --yellow: #F3CF31;
    --red: #F62F32;
    --glass: #ddeaffa2;

    /* Gradients */
    --gradient: linear-gradient(115deg, #1f75ff, #00AAFF);
    --gradient2: linear-gradient(325deg,
            #1f75ff 0%,
            #00AAFF 55%,
            #1f75ff 90%);
    --text-gradient: linear-gradient(135deg, #101010, #353535);

    /* Text Colors */
    --light: #ededed;
    --lighter: #f5f5f5;
    --lightest: #fafafa;
    --dark: #4b4b4b;
    --darker: #1a1a1a;
    --darkest: #101010;

    /* Shadows */
    --shadow: 0 4px 10px rgba(24, 131, 255, 0.15);
    --light-shadow: 0 4px 20px rgba(24, 131, 255, 0.3);
    --dark-shadow: 0 6px 20px rgba(22, 53, 110, 0.25);
    --blue-shadow: 0 4px 12px rgba(0, 78, 224, 0.3);
    --red-shadow: 0 4px 12px rgba(246, 47, 50, 0.3);
    --glass-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);

    /* Breakpoints */
    --sidebar-width: 260px;

    /* Fonts */
    --kumbh: 'Kumbh Sans' sans-serif;
}