/* Form Header */
.form-header {
  text-align: left;
  font-family: var(--heading);
  font-weight: 500;
  margin-bottom: 33px;
}

.form-header h2 {
  font-family: var(--heading);
  font-size: 2.1rem;
  color: var(--glass);
  margin-bottom: 10px;
  background: var(--gradient);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.form-header p {
  color: var(--dark);
  font-size: 0.92rem;
  margin-left: 5px;
  margin-bottom: 10px;
}

/* Main Logo Text */
.logo-text {
  font-family: var(--heading);
  font-size: 23px;
  font-weight: 700;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.logo-container:hover .logo-text {
  background-position: 100% 0;
  cursor: pointer;
}

/* Slider title part */
.feature-title {
  position: relative;
  text-align: center;
}

.feature-title h2 {
  font-family: var(--heading);
  font-size: var(--heading-sz);
  font-weight: 600px;
  text-shadow: 0 2px 4px rgba(0, 120, 240, 0.15);
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 2px;
}

/* Title line */
.title-line {
  width: 130px;
  height: 4px;
  background: var(--gradient);
  margin: 13px auto 50px;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
}

.title-line::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg,
      transparent,
      rgba(255, 255, 255, 0.7),
      transparent);
  animation: shine 5s ease infinite;
}

/* Slider Section */

/* Product Name */
.slide .slide-name {
  margin-bottom: 25px;
  font-family: var(--paragraph);
  font-weight: 600;
  font-size: 50px;
  line-height: 1.1px;
  color: var(--darker);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

/* Product Price */
.slide .slide-price {
  position: relative;
  margin: 35px 0;
  font-family: "Nunito Sans";
  font-weight: 900;
  font-size: 28px;
  font-weight: 600;
  background: var(--gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.slide .slide-price::after {
  content: "";
  position: absolute;
  width: 170px;
  height: 2px;
  left: 0;
  bottom: -9px;
  background: linear-gradient(135deg, var(--blue), transparent);
}

/* All section titles */
.section-title {
  position: relative;
  text-align: center;
}

.section-title h2 {
  font-family: var(--heading);
  font-size: var(--heading-sz);
  font-weight: 600px;
  text-shadow: 0 2px 4px rgba(0, 120, 240, 0.15);
  background: var(--text-gradient);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin-top: 25px;
  margin-bottom: 2px;
}

/* Animation */
@keyframes shine {
  0% {
    left: -100%;
  }

  20%,
  100% {
    left: 100%;
  }
}

/* Product Card */
.product-title {
  font-family: var(--paragraph);
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 5px;
  color: var(--darkest);
  line-height: 1.2;
  text-align: left;
}

.product-tagline {
  font-family: var(--paragraph);
  font-size: 0.8rem;
  color: var(--dark);
  margin-bottom: 15px;
  line-height: 1.4;
  text-align: left;
}

.product-badge {
  margin-bottom: 0.37rem;
  color: var(--yellow);
  background-color: transparent;
  border: none;
  padding: 0;
  font-family: var(--paragraph);
  font-size: 0.7rem;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  z-index: 2;
  box-shadow: none;
  text-align: left;
}

.product-badge.new {
  color: var(--green);
}

.product-badge.trending {
  color: var(--red);
}

/* Footer */
.footer-section h3 {
  font-family: var(--heading);
  font-size: 1.2rem;
  color: var(--darkblue);
  margin-bottom: 20px;
  position: relative;
  padding-bottom: 10px;
}

.footer-section h3::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 75px;
  height: 2px;
  background: linear-gradient(135deg, var(--blue), transparent);
  border-radius: 2px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

.footer-section ul li a {
  color: var(--dark);
  text-decoration: none;
  font-size: 0.95rem;
  transition: all 0.3s ease;
}

.footer-section ul li a:hover {
  color: var(--blue);
  text-decoration: underline;
}

.footer-section p {
  line-height: 1.4;
}

.footer-contact p {
  line-height: normal;
  margin-bottom: 10px;
  font-size: 0.95rem;
}

.footer-contact a {
  color: var(--dark);
  text-decoration: none;
  transition: all 0.3s ease;
}

.footer-contact a:hover {
  color: var(--blue);
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  .title-line {
    width: 100px;
    height: 3px;
    margin-bottom: 30px;
  }

  .feature-title h2 { 
    margin-top: 25px;
    font-size: 1.6rem;
  }

  .slide .slide-name {
    text-align: left; 
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .slide .slide-price {
    text-align: left;
    font-size: 1.2rem;
    margin: 20px 0;
  }

  .slide  .slide-price::after {
    width: 100px;
    bottom: -6px;
  }

  .section-title h2 {
    font-size: 1.6rem;
    margin-top: 30px;
  }

}