/* Shop By Brand Section */
.shop-by-brand {
    padding: 2rem 0;
    background-color: transparent;

}

.brands-grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
    max-width: 1000px;
    margin: 2rem auto;
    padding: 0 15px;
}

.brand-logo-container {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.brand-logo-container img {
    max-width: 250px;
    max-height: 150px;
    width: auto;
    height: auto;
    object-fit: contain;
}

/* Responsive */
@media (max-width: 480px) {
    .brands-grid {
        justify-content: space-evenly;
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
        width: 100%;
        margin: 5px;
    }
}