/* All other  pages */

/* Contact Us page */
.contact-details-section {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.contact-info-container {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    text-align: center;
}

.contact-info-item {
    flex: 1 1 calc(33% - 40px);
    min-width: 280px;
    background-color: var(--body);
    border-radius: 15px;
    padding: 30px;
    box-shadow: var(--shadow);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    transition: transform 0.3s ease;
}

.contact-info-item:hover {
    transform: translateY(-5px);
}

.contact-info-item .icon {
    font-size: 3rem;
    color: var(--blue);
}

/* Profile page */
.profile-container {
    display: flex;
    gap: 30px;
    max-width: 1350px;
    margin: 120px auto 40px;
    padding: 0 20px;
}

.profile-sidebar {
    flex: 0 0 250px;
}

.profile-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.profile-card {
    background: var(--body);
    border-radius: 18px;
    padding: 30px;
    box-shadow: var(--shadow);
}