/* Form Cards */
.form-card {
  font-family: 'Lexend', sans-serif;
  width: 100%;
  max-width: 450px;
  padding: 18px;
  border-radius: 20px;
  z-index: 1;
  transform-style: preserve-3d;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  position: relative;
  overflow: hidden;
}

.form-card::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: var(--shadow);
  transform: rotate(30deg);
  pointer-events: none;
}


/* Shop By Brand Cards */
.brand-card {
  background: var(--body);
  border-radius: 12px;
  padding: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: var(--shadow);
  transition: all 0.3s ease;
  aspect-ratio: 1/1;
}

.brand-card:hover {
  transform: translateY(-5px);
  box-shadow: var(--dark-shadow);
}

.brand-card img {
  max-width: 120px;
  max-height: 120px;
  width: auto;
  height: auto;
  object-fit: contain;
}

.brand-card:hover img {
  filter: grayscale(0%);
}

/* Product Card Styles */

/* Grid layout for product cards */
.products-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  gap: 24px;
  padding: 0 40px;
}

.product-card {
  position: relative;
  border-radius: 18px;
  background: var(--body);
  box-shadow: var(--shadow);
  padding: 20px 20px 25px;
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  font-family: var(--paragraph);
  height: 100%;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, 0.02);
}

.product-card:hover {
  transform: translateY(-4px);
  box-shadow: var(--dark-shadow);
}

.product-image-container {
  position: relative;
  padding-top: 100%;
  overflow: hidden;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image-container img {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 90%;
  max-height: 90%;
  width: auto;
  height: auto;
  object-fit: contain;
  transform: translate(-50%, -50%);
  transition: transform 0.3s ease;
  filter: drop-shadow(0 0px 10px rgba(0, 0, 0, 0.1));
}

.product-info-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: auto;
  padding: 0 5px;
}

/* Responsive */
@media (max-width: 480px) {
  .brand-card {
    width: 90%;
    justify-self: center;
    padding: 20px;
    margin: 3px;
  }

  .brand-card img {
    max-width: 100%;
    max-height: 100%;
  }

  /* Product Cards */
  .products-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .product-card {
    width: 100%;
    padding: 14px;
    border-radius: 12px;
  }

  .product-image-container {
    padding-top: 80%;
  }

  .product-info-bottom {
    width: 100%;
    justify-content: space-between;
    padding: auto;
  }
}